<% _.each(relations.models, function(relation, idx) { %>
<div class="existing_relation list_item <% if(relation.get('direction') == 'backward') { %> list_item_backward <% } %> <% if(relation.get('visited')) { %>visited_relation<% } %>" data-relation-slug="<%= relation.get('slug') %>" tabindex=<%= node.get('items').length + idx %>>

  <div class="relation_list_item_left">
    <% if(relation.get('direction') == 'backward') { %>
    ← <%= relation.get('parent_name') %>
    <% } else { %>
    <%= relation.get('text') %>
    <% } %>

    <% _.each(relation.get('relationitems'), function(ri, idx) { %>

    <span class="choice_relationitem">
    <%   if(ri.get('interaction') == 'require') { %>
    (requires <% if(ri.get('quantity') > 1) { %><%= ri.get('quantity') %><% } %> <%= ri.get('item').get('name') %>)
    <%   } else if(ri.get('interaction') == 'consume') { %>
    (consumse <% if(ri.get('quantity') > 1) { %><%= ri.get('quantity') %><% } %> <%= ri.get('item').get('name') %>)
    <%   } else if(ri.get('interaction') == 'give') { %>
    (gives <% if(ri.get('quantity') > 1) { %><%= ri.get('quantity') %><% } %> <%= ri.get('item').get('name') %>)
    <%   } %>
    </span>

    <% }) %>

    <% if(!relation.get('repeatable')) { %>
    <span class="choice_relation_not_repeatable">(not repeatable)</span>
    <% } %>

  </div>
  <div class="relation_list_item_right">
    Created by <%= relation.get('author') %> <%= relation.get('created') %><br>
    <% if(relation.get('author') == user.get('username')) { %>
    <div class="delete_list_item list_item_modify_link">🗑</div>
    <div class="edit_list_item list_item_modify_link">🖉</div>
    <% } %>
    <div class="relation_stats">
      Views: <%= relation.get('views') %>
      Vote:
      <span class="voteup clickable" data-slug="<%= relation.get('slug') %>">⬆</span>
      <%= relation.get('vote') %>
      <span class="votedown clickable" data-slug="<%= relation.get('slug') %>">⬇</span>
    </div>
  </div>
  &nbsp;
</div>
<% }); %>

<% if(prompt && prompt.length > 0) { %>
<div class="model_create list_item" id="create_relation" tabindex=<%= node.get('items').length + relations.models.length %>>
  Create new choice
</div>
<% } %>
