<% _.each(relations.filtered_for_user(user), function(relation, idx) { %>
<div class="list_item <% if(relation.get('direction') == 'backward') { %> list_item_backward <% } %> <% if(relation.get('visited')) { %>visited_relation<% } %>" data-relation-slug="<%= relation.get('slug') %>" tabindex=<%= node.get('items').length + idx %>>

  <div class="relation_list_item_left">
    <% if(relation.get('direction') == 'backward') { %>
    ← <%= relation.get('parent_name') %>
    <% } else { %>
    <%= relation.get('text') %>
    <% } %>

    <% if(relation.get('direction') == 'forward') { %>
    <% _.each(relation.get('relationitems'), function(ri, idx) { %>

    <%   if(!ri.get('hide')) { %>
    <span class="choice_relationitem <% if(relation.get('visited') && !relation.get('repeatable')) { %>line-through<% } %>">
    <%     if(ri.get('interaction') == 'require') { %>
    (requires <% if(ri.get('quantity') > 1) { %><%= ri.get('quantity') %><% } %> <%= ri.get('item').get('name') %>)
    <%     } else if(ri.get('interaction') == 'consume') { %>
    (consumes <% if(ri.get('quantity') > 1) { %><%= ri.get('quantity') %><% } %> <%= ri.get('item').get('name') %>)
    <%     } else if(ri.get('interaction') == 'give') { %>
    (gives <% if(ri.get('quantity') > 1) { %><%= ri.get('quantity') %><% } %> <%= ri.get('item').get('name') %>)
    <%     } %>
    </span>
    <%   } %>

    <% }) %>
    <% } %>

    <% if(!relation.get('repeatable')) { %>
    <span class="choice_relation_extra">(not repeatable)</span>
    <% } %>

    <% if(relation.get('only_discoverable_via_ac_x_chars')) { %>
    <span class="choice_relation_extra">(discovered with <% relation.get('only_discoverable_via_ac_x_chars') %> character auto-complete)</span>
    <% } %>

    <% if(relation.get('only_visible_to_node_owner')) { %>
    <span class="choice_relation_extra">(only visible to node owner)</span>
    <% } %>

    <% if(relation.get('hide_when_requirements_unmet')) { %>
    <span class="choice_relation_extra">(hidden if requirements unmet)</span>
    <% } %>

  </div>

  <div class="relation_list_item_right">
    <div class="relation_right_block relation_view_block">
      <%= relation.get('views') %><span class="relation_views">view<% if(relation.get('views') > 1) { %>s<% } %></span>
    </div>

    <div class="relation_right_block relation_vote_block">
      <span class="vote pointer voteup" data-slug="<%= relation.get('slug') %>">&uarr;</span>
      <span class="votecount <% if(relation.get('vote') == '0') { %>votezero<% } %>"><%= relation.get('vote') %></span>
      <span class="vote pointer votedown" data-slug="<%= relation.get('slug') %>">&darr;</span>
    </div>

    <div class="relation_right_block relation_attribution_block">
      <%= relation.get('created') %> by <%= relation.get('author') %>
      <% if(relation.get('author') == user.get('username')) { %><br>
      <span class="edit_list_item clickable">Edit</span>
      <span class="delete_list_item clickable">Delete</span>
      <% } %>
    </div>
  </div>
</div>
<% }); %>

<% if(prompt && prompt.length > 0 && (node.get('author') == user.get('username') || node.get('public_can_link'))) { %>
<div class="model_create list_item" id="create_relation" tabindex=<%= node.get('items').length + relations.models.length %>>
  <div class="relation_list_item_left">
    Create new choice
  </div>
</div>
<% } %>
