<% _.each(
   _.filter(node.get('items'), function(item) { return item.get('name').indexOf(prompt) !== -1 }),
   function(item, idx) { %>
<div class="list_item item_list_item <% if(item.get('owned')) { %>item_owned<% } %>" data-item-slug=<%= item.get('slug') %> tabindex=<%= idx %>>
  Take item: <%= item.get('name') %>

  <div class="relation_list_item_right">
    <% if(node.get('author') == user.get('username')) { %>
    <div class="delete_list_item">Delete</div>
    <% } %>
  </div>
</div>
<% }) %>

<% _.each(relations.models, function(relation, idx) { %>
<div class="existing_relation list_item <% if(relation.get('direction') == 'backward') { %> list_item_backward <% } %> <% if(relation.get('visited')) { %>visited_relation<% } %>" data-relation-slug="<%= relation.get('slug') %>" tabindex=<%= node.get('items').length + idx %>>

  <div class="relation_list_item_left <% if(relation.get('direction') == 'forward' && relation.get('require_item') && !relation.get('require_item').get('owned')) { %>requires_unowned_item<% } %>">
    <% if(relation.get('direction') == 'backward') { %>
    ← <%= relation.get('parent_name') %>
    <% } else { %>
    <%= relation.get('text') %><% if(relation.get('require_item')) { %><span class="required_item">
      (Requires item: <%= relation.get('require_item').get('name') %>)
    </span>
    <% } %>
    <% } %>
  </div>
  <div class="relation_list_item_right">
    Created by <%= relation.get('author') %> <%= relation.get('created') %><br>
    <% if(relation.get('author') == user.get('username')) { %>
    <div class="delete_list_item">Delete</div>
    <% } %>
    <div class="relation_stats">
      Views: <%= relation.get('views') %>
      Vote:
      <span class="voteup clickable" data-slug="<%= relation.get('slug') %>">&uarr;</span>
      <%= relation.get('vote') %>
      <span class="votedown clickable" data-slug="<%= relation.get('slug') %>">&darr;</span>
    </div>
  </div>
  &nbsp;
</div>
<% }); %>

<% if(relations.text && relations.text.length > 0) { %>

<div class="branch_create list_item" id="create_relation" tabindex=<%= node.get('items').length + relations.models.length %>>
  Create new branch with this text
</div>

<div id="create_relation_form" class="create_form">

  <div class="relation_form_title">Create new branch</div>

  <div class="relation_form_text">
    Destination:
  </div>

  <div class="relation_create_input_div" id="relation_create_dest_select">
    <input class="relation_create_input" id="relation_create_dest" name=destination type=text size=80>
    <div id="existing_list"></div>
  </div>

  <div class="cleardiv"></div>

  <div class="relation_form_text">
    Require item:
  </div>

  <div class="relation_create_input_div" id="relation_create_item_select">
    <input class="relation_create_input" id="relation_create_require_item" name=require_item type=text placeholder=" (No item required)" size=80>
    <div id="require_item_list"></div>
  </div>

  <div class="cleardiv"></div>

  <button id="create_branch_cancel">Cancel</button>
  <button id="create_branch_create">Create this branch</button>
</div>

<div class="branch_create list_item" id="create_give_item" tabindex=<%= node.get('items').length + relations.models.length + 1 %>>
  Create item give
</div>

<div id="create_give_item_form" class="create_form">

  <div class="relation_form_title">Create item give</div>

  <div class="relation_form_text">
    Give item:
  </div>

  <div class="relation_create_input_div" id="relation_give_item_select">
    <input class="relation_create_input" id="relation_give_item" name=give_item type=text size=80>
    <div id="give_item_list"></div>
  </div>

  <div class="cleardiv"></div>

  <button id="create_item_give_cancel">Cancel</button>
  <button id="create_item_give_create">Create this item give</button>

</div>

<% } %>
