<div id="text_area"></div>

<div id="user_area">
  <form>
    <input type=text id="prompt" autocomplete="off">
  </form>
  <div id="choices"></div>
</div>

<div id="status_bar"></div>

<div id="modal" class="modal">
  <div id="modal_user" class="modal_content"></div>
  <div id="modal_node_edit" class="modal_content"></div>
  <div id="modal_relation_edit" class="modal_content"></div>
  <div id="modal_item_edit" class="modal_content"></div>
</div>

<div id="inventory" class="drawer"></div>
<div id="notifications" class="drawer"></div>
<div id="manage_content" class="drawer"></div>

