<div class="title">Inventory</div>

<table data-scroll-y="400px" data-paging="false" class="hover">
  <thead>
    <tr>
      <th>Item</th>
      <th>Author</th>
      <th data-class-name="dt-right">Quantity</th>
      <th data-class-name="dt-right">Date Acquired</th>
      <th data-orderable="false" data-class-name="dt-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% _.each(inventory, function(useritem, idx) { %>
    <tr data-id="<%= useritem.get('id') %>">
      <td><%= useritem.get('item').get('name') %></td>
      <td><%= useritem.get('item').get('author') %></td>
      <td>
        <div class="clickable inventory_quantity">
          <%= useritem.get('quantity') %>

          <% if(useritem.get('item').get('max_quantity') > 0) { %>
          / <%= useritem.get('item').get('max_quantity') %>
          <% } %>

        </div>
        <input class="inventory_quantity_edit" size=9 value="<%= parseInt(useritem.get('quantity')) %>">
        <div class="inventory_quantity_complaint"></div>
        <% if(!useritem.get('item').get('droppable')) { %><small>(undroppable)</small><% } %>
      </td>
      <td><%= useritem.get('created') %></td>
      <td>

        <% if(useritem.get('item').get('description_node')) { %>
        <span class="clickable inventory_view">👁</span>
        <% } %>

        <% if(useritem.get('item').get('author') == username) { %>
        <span class="clickable inventory_edit">🖉</span>
        <% } %>

        <% if(useritem.get('item').get('droppable') || useritem.get('item').get('author') == username) { %>
        <span class="clickable inventory_drop">🗑</span>
        <% } %>

      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<div class="drawer_close_button">Close</div>
