<div class="title">Inventory</div>

<% if(inventory.length == 0) { %>
<div class="inventory_item">
  (Your inventory is empty)
</div>
<% } %>

<% _.each(inventory, function(item, idx) { %>
<div class="inventory_item">

  "<%= item.get('name') %>" by <%= item.get('author') %> <%= item.get('created') %>

  <span class="inventory_drop" data-drop-item-id="<%= item.get('slug') %>">❌</span>

</div>
<% }) %>

<div class="drawer_close_button">Close</div>
<div class="clickable" id="inventory_clear_all">Drop all</div>
