<div class="modal_title dash_underline">
  <% if(inline_options && inline_options.title) { %>
  <%= inline_options.title %>
  <% } else { %>
  <% if(mode == 'edit') { %>Edit<% } else { %>Create<% } %> Item
  <% } %>
</div>

<div class="form_text">
  Name:
</div>
<div class="form_widget">
  <input class="bigger" type=text id="item_name_input">
</div>

<div class="form_text">
  Description Node:
</div>
<div class="form_widget" id="item_dest_widget">
</div>

<div class="form_text">
  Max Quantity in Inventory:<br>
  <small>0 = unlimited</small>
</div>
<div class="form_widget">
  <input type=text id="item_max_quantity_input">
</div>

<div class="form_text">
  <label for="item_droppable_checkbox">Droppable:</label>
</div>
<div class="form_widget">
  <input type=checkbox id="item_droppable_checkbox">
</div>

<div class="form_text">
  <label for="item_public_can_link_checkbox">Public can use:</label>
</div>
<div class="form_widget">
  <input type=checkbox id="item_public_can_link_checkbox">
</div>

<div class="cleardiv">
  <button id="item_edit_cancel">Cancel</button>
  <button id="item_edit_save">Save</button>
</div>
