<table data-scroll-y="400px" data-paging="false" class="hover">

  <thead>
    <tr>
      <th>Name</th>
      <th data-class-name="dt-right">Created</th>
      <th data-orderable="false" data-class-name="dt-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% _.each(nodes.models, function(node, idx) {  %>
    <tr data-slug="<%= node.get('slug') %>">
      <td><%= shorten(node.get('name'), 70) %></td>
      <td><%= node.get('created') %></td>
      <td>
        <!-- <span id="manage_view_node" class="clickable">View</span> -->
        <span id="manage_edit_node" class="clickable">Edit</span>
        <span id="manage_delete_node" class="clickable">Delete</span>
      </td>
    </tr>
    <% }) %>
  </tbody>

</table>
