<table data-scroll-y="400px" data-paging="false" class="hover">

  <thead>
    <tr>
      <th>Name</th>
      <th data-class-name="dt-right">Created</th>
      <th data-orderable="false" data-class-name="dt-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% _.each(items.models, function(item, idx) {  %>
    <tr data-slug="<%= item.get('slug') %>">
      <td><%= item.get('name') %></td>
      <td><%= item.get('created') %></td>
      <td>
        <span id="manage_view_item" class="clickable">👁</span>
        <span id="manage_edit_item" class="clickable">🖉</span>
        <span id="manage_delete_item" class="clickable">❌</span>
      </td>
    </tr>
    <% }) %>
  </tbody>

</table>


