<table data-scroll-y="400px" data-paging="false" class="hover">

  <thead>
    <tr>
      <th>Text</th>
      <th data-class-name="dt-right">Views</th>
      <th data-class-name="dt-right">Vote</th>
      <th data-class-name="dt-right">Created</th>
      <th data-orderable="false" data-class-name="dt-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% _.each(relations.models, function(relation, idx) { %>
    <tr data-slug="<%= relation.get('slug') %>">
      <td><%= relation.get('text') %></td>
      <td><%= relation.get('views') %></td>
      <td><%= relation.get('vote') %></td>
      <td><%= relation.get('created') %></td>
      <td>
        <span id="manage_view_relation" class="clickable">👁</span>
        <span id="manage_edit_relation" class="clickable">🖉</span>
        <span id="manage_delete_relation" class="clickable">🗑</span>
      </td>
    </tr>
    <% }) %>
  </tbody>

</table>


