<div class="modal_title dash_underline">Node Edit</div>

<div class="editbox">
  <input class="node_edit_title" name=name type=text value="<%= node.get('name') %>" <% if(node.get('slug').substring(0, 1) == '~') { %>disabled<% } %>>
</div>

<div class="editbox">
  <textarea name=text class="node_edit_text"><%= node.get('text') %></textarea>
  <div id="editpreview"></div>
</div>

<div class="editbox footnote">
  <a target="_new" href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf">Markdown cheat sheet</a>
</div>

<div class="editbox">
  <input type=checkbox> Hide backwards relations
</div>

<div class="editbox">
  <input type=checkbox> Allow public to link to this node
</div>

<div class="editbox">
  <button id="node_edit_cancel">Cancel</button>
  <button id="node_edit_preview">Preview</button>
  <button id="node_edit_save">Save</button>
</div>


