<div class="modal_title dash_underline">
  <% if(inline_options && inline_options.title) { %>
  <%= inline_options.title %>
  <% } else { %>
  <% if(mode == 'edit') { %>Edit<% } else { %>Create<% } %> Node
  <% } %>
</div>

<div class="editbox">
  <input class="node_edit_title" id="node_name_input" type=text <% if(mode == 'edit' && node.get('slug').substring(0, 1) == '~') { %>disabled<% } %>>
</div>

<div class="editbox">
  <textarea id="node_text_textarea" class="node_edit_text"></textarea>
  <div id="editpreview"></div>
</div>

<div class="editbox footnote">
  <a target="_new" href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf">Markdown cheat sheet</a>
</div>

<div class="editbox">
  <input type=checkbox id="node_show_backward_relations_checkbox"> Show backward relations
</div>

<div class="editbox">
  <input type=checkbox id="node_public_can_link_checkbox"> Allow public to link to this node
</div>

<div class="editbox">
  <button id="node_edit_cancel">Cancel</button>
  <button id="node_edit_preview">Preview</button>
  <button id="node_edit_save">Save</button>
</div>


