<div class="title">Notifications</div>

<table data-scroll-y="400px" data-paging="false" class="hover">
  <thead>
    <tr>
      <th>Actor</th>
      <th>Action</th>
      <th>Modified Data</th>
      <th data-class-name="dt-right">Date Acquired</th>
      <th data-orderable="false" data-class-name="dt-right">Clear</th>
    </tr>
  </thead>

  <tbody>
    <% _.each(notifications_collection.models, function(n) { %>
    <tr data-notification-id="<%= n.get('id') %>" data-node-slug="<%= n.get('node_slug') %>">
      <td>
        <%= n.get('actor') %>
      </td>
      <td><%= n.get('action') %></td>
      <td>
        <%= n.get('node_name').substring(0,15) %>

        <% if(n.get('relation_name')) { %>
        &rarr; <%= n.get('relation_name').substring(0,15) %>
        <% } %>
      </td>
      <td><%= n.get('created') %></td>

      <td>
        <span class="clickable notification_view">👁</span>
        <span class="clickable notification_clear">🗑</span>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<div class="drawer_close_button">Close</div>
<div class="clickable" id="notification_clear_all">Clear all</div>
