<div class="modal_title dash_underline">Edit Choice</div>

<div class="form_text">
  Text:
</div>

<div class="form_widget">
  <input id="relation_edit_text" class="relation_edit_input" type=text size=80>
</div>

<div class="form_text">
  Source:
</div>

<div class="form_widget" id="relation_node_select_source">
</div>

<div class="form_text tooltip">
  Destination:
  <span class="tooltiptext">
    If blank, this will link to the current node (i.e. it will go nowhere).
  </span>
</div>

<div class="form_widget" id="relation_node_select_dest">
</div>

<div class="form_text tooltip">
  Sticky ordering:
  <span class="tooltiptext">
    If blank, there will be no explicit ordering.  You must be node owner for this to work.  Maximum value: 1000
  </span>
</div>
<div class="form_widget">
  <input id="relation_edit_sticky_ordering" type=number>
</div>

<div class="form_text tooltip">
  Hide unless match this many auto-complete chars:<br>
  <span class="tooltiptext">
    When 0, this will not be hidden based on auto-complete.
  </span>
</div>
<div class="form_widget">
  <input id="relation_edit_only_discoverable_via_ac_x_chars" type=number>
</div>

<div class="form_text">
  <label for="relation_edit_only_visible_to_node_owner">Only visible to node owner:</label>
</div>
<div class="form_widget">
  <input id="relation_edit_only_visible_to_node_owner" type=checkbox>
</div>

<div class="form_text">
  <label for="relation_edit_hide_when_requirements_unmet">Hide when item requirements unmet:</label>
</div>
<div class="form_widget">
  <input id="relation_edit_hide_when_requirements_unmet" type=checkbox>
</div>

<div class="form_text">
  <label for="relation_edit_repeatable">Item interactions repeatable:</label><br>
</div>
<div class="form_widget">
  <input id="relation_edit_repeatable" type=checkbox>
</div>

<div class="form_text">
  <div>Item interactions:</div>
</div>
<div class="form_widget">
  <div id="relation_edit_item_interactions"></div>
  <div id="relation_edit_create_item_interaction" class="cleardiv clickable">Add an interaction</div>
</div>

<div class="cleardiv">
  <button id="relation_edit_cancel">Cancel</button>
  <button id="relation_edit_save">Save</button>
</div>
