{% extends 'base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/lib/require.js"></script>
    <script type="text/javascript" src="/static/js/config.js"></script>
    <script type="text/javascript">

require(['jquery'], function() {
    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
        options.xhrFields = { withCredentials: true };
        return jqXHR.setRequestHeader(
            'X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
    });
});

var fglobals = {};

require(['backbone', 'router', 'views/forest'], function(Backbone, Router, Forest) {

    fglobals.forest = new Forest();
    fglobals.forest.setElement('div#forest');
    fglobals.forest.render();

    fglobals.user = "{{ user.username }}";

    fglobals.router = new Router();
    Backbone.history.start({pushState: true});
});

    </script>
{% endblock %}

{% block content %}

    {% csrf_token %}

    <div id="modal">

      {% if user and not user.is_anonymous %}

      <div class="modal_content" id="login_info">
        <a>Hello, {{ user.get_full_name }}!</a>
        <br>
        <a href="/account/logout">Logout</a>
      </div>

      {% else %}

      <div class="modal_content" id="login_form_modal">

        <div>In order to modify content, you must log in.</div>

        <div class="login_form">
          Username / email<br>
          <input type=text name=username class="login_input"><br>
          Password<br>
          <input type=password name=password class="login_input"><br>
          <button class="login_button">Login</button>
        </div>

        <div class="login_create">
          Create new account
        </div>

        <div>
          <p>You may also log in with these services:</p>
        </div>

        <div class="login_oauth_link">
          <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
            <img width=191 src="/static/btn_google_signin_dark_normal_web.png">
          </a>
        </div>

        <div class="login_oauth_link">
          <a href="{% url 'social:begin' 'facebook-oauth2' %}?next={{ request.path }}">
            <img width=212 src="/static/facebook-sign-in-button-png-26.png">
          </a>
        </div>

        <div class="cleardiv"></div>

      </div>

      {% endif %}

    </div>

    <div id="forest"></div>

    <div id="bottom_bar">

      <div id="login_status_info">
        {% if user and not user.is_anonymous %}
        Logged in as {{ user.username }}
        {% else %}
        <div id="login_link">Log in</div>
        Not logged in.
        {% endif %}
      </div>

    </div>

{% endblock %}
