<% _.each(relations.models, function(relation, idx) { %>
<div class="existing_relation list_item
<% if(relation.get('direction') == 'backwards') { %> list_item_backwards <% } %>
<% if(relation.get('visited')) { %>visited_relation<% } %>"
data-relation-slug="<%= relation.get('slug') %>"
tabindex=<%= idx %>>

  <div class="relation_list_item_left">
    <% if(relation.get('direction') == 'backwards') { %>
    ←
    <%= relation.get('parent_name') %>
    <% } else { %>
    <%= relation.get('text') %>
    <% } %>
  </div>
  <div class="relation_list_item_right">
    Created by <%= relation.get('author') %> <%= relation.get('created') %><br>
    <% if(relation.get('author') == user.get('username')) { %>
    <div class="delete_relation">Delete</div>
    <% } %>
    <div class="relation_stats">
      Views: <%= relation.get('views') %>
      Vote:
      <span class="voteup clickable" data-slug="<%= relation.get('slug') %>">&uarr;</span>
      <%= relation.get('vote') %>
      <span class="votedown clickable" data-slug="<%= relation.get('slug') %>">&darr;</span>
    </div>
  </div>
  &nbsp;
</div>
<% }); %>

<% if(relations.text && relations.text.length > 0) { %>

<div class="relation_create list_item" id="create_relation" tabindex=<%= relations.models.length %>>
  Create new branch with this text
</div>

<div id="create_relation_form" tabindex=<%= relations.models.length + 1 %>>

  <div id="create_relation_form_title">Create new branch</div>

  <div class="relation_create_text">
    Destination:
  </div>

  <div class="relation_create_input_div" id="relation_create_dest_select">
    <input class="relation_create_input" id="relation_create_dest" name=destination type=text size=80>
    <div id="existing_list"></div>
  </div>

  <div class="cleardiv"></div>

  <div class="relation_create_text">
    Require item:
  </div>

  <div class="relation_create_input_div">
    <input class="relation_create_input" id="relation_create_require_item" name=require_item type=text placeholder=" (No item required)" size=80>
    <div id="require_item_list"></div>
  </div>

  <div class="cleardiv"></div>

  <button id="create_branch_cancel">Cancel</button>
  <button id="create_branch_create">Create this branch</button>
</div>

<% } %>
