
<div id="status_title">
  <img src="/static/favicon.ico" height=16 id="status_img">TextForest
</div>

<div id="status_sort_prefs">
  Sort:

  <div class="sort_pref <% if(sort != 'views') { %>clickable<% } %>" data-sort="views">Views</div>
  <div class="sort_pref <% if(sort != 'vote') { %>clickable<% } %>" data-sort="vote">Vote</div>
  <div class="sort_pref <% if(sort != 'date') { %>clickable<% } %>" data-sort="date">Date</div>
  <div class="sort_pref <% if(sortdir != 'asc') { %>clickable<% } %>" data-sortdir="asc">(asc</div> or
  <div class="sort_pref <% if(sortdir != 'desc') { %>clickable<% } %>" data-sortdir="desc">desc)</div>

  <div class="sort_pref" id="sort_prioritize_op" data-sortpriop="1">
    <input type=checkbox name=priop <% if(sortpriop) { %>checked<% } %>>Prioritize OP
  </div>
</div>

<div id="login_status_info">

  <% if(user.get('username')) { %>

  <div class="status_info clickable" id="logout_link">Logout</div>
  <div class="status_info clickable" id="user_settings_link">Settings</div>

  <div class="status_info">
    Logged in as
    <span class="clickable user_link" data-user-link="<%= user.get('username') %>" id="user_link"><%= user.get('username') %></span>
  </div>

  <% if(notifications.models.length > 0) { %>
  <div id="notifications_link" class="status_info clickable">Notifications (<%= notifications.models.length %>)</div>
  <% } %>

  <% } else { %>

  <div class="status_info clickable" id="login_link">Log in</div>

  <div class="status_info">Not logged in</div>

  <% } %>
</div>
